@tailwind base;
@tailwind components;
@tailwind utilities;

/* for background color only */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* header */
.head_text {
  @apply text-5xl font-extrabold text-black text-center pb-8;
}

/* small_header */
.small_header {
  @apply font-bold text-2xl mb-4;
}

/* error_text */
.error_text {
  @apply font-bold text-3xl mb-4 text-red-600;
}

/* description */
.desc_text {
  @apply text-2xl text-black py-4;
}

/* link in general */
.link_color {
  @apply text-blue-700 hover:text-blue-500 hover:underline;
}

/* test link */
.test_link {
  @apply text-2xl font-semibold text-center link_color;
}

/* nav link */
.nav_link {
  @apply text-2xl text-black hover:text-gray-500 font-semibold;
}

/* SIGN IN AND REGISTER BUTTON */
.signin_btn {
  @apply border border-blue-500 bg-blue-500 text-white rounded-md px-4 py-2 w-full font-bold;
  @apply hover:bg-white hover:text-blue-500;
  @apply disabled:bg-gray-300;
}

/* SIGN IN input */
.signin_input {
  @apply border border-gray-300 rounded-md p-2 w-full;
}


/* Define the base styles for the button */
.btn-base {
  @apply rounded-full px-3 py-1 font-bold m-1;
}

/* Define the styles for the purple button */
.purple-btn {
  @apply btn-base bg-purple-500 text-white hover:bg-purple-600 disabled:bg-gray-300;
}

/* Define the styles for the blue button */
.blue-btn {
  @apply btn-base bg-blue-500 text-white hover:bg-blue-600 disabled:bg-gray-300;
}

/* edit button */
.edit-link {
  @apply rounded-full px-3 py-1.5 font-bold m-1 bg-yellow-500 text-white hover:bg-yellow-600 disabled:bg-gray-300;
}

/* purple link */
.purple-link {
  @apply rounded-full px-3 py-2 font-bold m-1 bg-purple-500 text-white hover:bg-purple-600 disabled:bg-gray-300;
}

/* Define the styles for the red button */
.red-btn {
  @apply btn-base bg-red-500 text-white hover:bg-red-600 disabled:bg-gray-200;
}

/* alternating table color */
.alt_table thead tr, .alt_table tbody tr:nth-child(even) {
  background-color: #ECECF1; 
}
.alt_table tbody tr:nth-child(odd) {
  background-color: #FFFFFF; 
}
.text_th {
  @apply px-4 py-2 text-xl text-center;
}

/* profile card */
.profile_card {
  @apply break-inside-avoid rounded-lg border border-gray-600 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit text-center mx-auto bg-opacity-80 bg-gray-100;
}

.form_label {
  @apply  font-semibold text-base text-gray-900 my-1;
}

.content_textarea {
  @apply w-[80%] rounded-lg h-[200px] mt-1 p-3 text-sm text-gray-700 bg-gray-200 outline-none;
}

.case_textarea {
  @apply w-full rounded-lg h-[100px] mt-1 p-3 text-sm text-gray-700 bg-gray-200 outline-none;
}

.form_input {
  @apply w-[80%] rounded-lg mt-2 p-3 text-sm text-gray-700 bg-gray-200 outline-none read-only:bg-gray-400;
}